[submodule "tutorial-photo-gallery-react"]
	path = tutorial-photo-gallery-react
	url = https://github.com/ionic-team/tutorial-photo-gallery-react.git
[submodule "ionic-react-conference-app"]
	path = ionic-react-conference-app
	url = https://github.com/ionic-team/ionic-react-conference-app.git
